.*

# C/C++ and Python  byproducts
__pycache__/
.ipynb_checkpoints/
test*.ipynb
Untitled*.ipynb

src/**/build/
CMakeFiles/

*.parquet
*.map
*.zip
*.gz
*.tar
*.tgz

# ignore specific files
cudabook.pdf
pmpp5ed.pdf
